## Party 1 - OpenMined's team in the UK

In [1]:
import syft as sy
import numpy as np
sy.logger.remove()

## Dataset Creation

In [2]:
data_om = np.array([2000])

## Logging into the domain

In [3]:
# Let's login into the domain
om = sy.login(email="info@openmined.org", password="changethis", port=8081)

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to localhost... done! 	 Logging into canada... done!

## Upload the dataset to Domain node

In [4]:
#DP metadata Addition
tensor_data_om = sy.Tensor(data_om).private(
    min_val=0,
    max_val=1,
    data_subjects=["Arturo"]
)

In [5]:
# Upload a private dataset to the Domain object, as the root owner

om.load_dataset(
    assets={
        "test_data":tensor_data_om,
        
    },
    name="Our Test Data",
    description="Collected on Jan 27 2022"
)

kj/filesystem-disk-unix.c++:1690: warning: PWD environment variable doesn't match current directory; pwd = /home/azureuser/PySyft

Loading dataset... uploading...ðŸš€

Uploading `test_data`: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00,  4.73it/s]

Dataset is uploaded successfully !!! ðŸŽ‰

Run `<your client variable>.datasets` to see your new dataset loaded into your machine!

In [6]:
om.datasets

### Create a Data Scientist User

In [7]:
#change budget before demo
om.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
        "budget":9_999_999
    }
)

User created successfully!

In [8]:
om.users

### Accept/Deny Requests to the Domain

In [ ]:
om.requests.pandas

In [ ]:
# om.requests[-1].accept()