## Party 2 - Facebook's team in Menlo Park

In [1]:
import syft as sy
import numpy as np
sy.logger.remove()

## Dataset Creation

In [2]:
training_data_fb = np.array([
    [1,0,1],
    [1,1,1]]
)

training_targets_fb = np.array([[1,1]]).T

## Logging into the domain

In [3]:
# Let's login into the domain
fb = sy.login(email="info@openmined.org", password="changethis", port=8082)

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to localhost... done! 	 Logging into italy... done!

## Upload the dataset to Domain node

In [4]:
#DP metadata Addition
training_data_fb = sy.Tensor(training_data_fb).private(
    min_val=0,
    max_val=1,
    data_subjects=["Rasswanth"] * training_data_fb.shape[0],
)
training_targets_fb = sy.Tensor(training_targets_fb).private(
    min_val=0,
    max_val=1,
    data_subjects=["Rasswanth"] * training_targets_fb.shape[0],
    
)

In [5]:
# Upload a private dataset to the Domain object, as the root owner

fb.load_dataset(
    assets={
        "training_data":training_data_fb,
        "training_targets":training_targets_fb
    },
    name="Our training data for XOR networks!",
    description="Collected on Jan 27 2022"
)

Loading dataset... checking asset types...

**Warning**: Blob Storage is disabled on this domain. Switching to database store.

Dataset is uploaded successfully !!! ðŸŽ‰

Run `<your client variable>.datasets` to see your new dataset loaded into your machine!

kj/filesystem-disk-unix.c++:1690: warning: PWD environment variable doesn't match current directory; pwd = /home/azureuser

In [6]:
fb.datasets

### Create a Data Scientist User

In [7]:
#change budget before demo
fb.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
        "budget":9_999_999
    }
)

User created successfully!

In [8]:
fb.users

### Accept/Deny Requests to the Domain

In [9]:
fb.requests.pandas

Empty DataFrame
Columns: []
Index: []

In [30]:
# fb.requests[-1].accept()